<input type="text" id="in"><input type="button" OnClick="javascript:send()" value="send!" >

<div id="speer">
</div>

<script src="./client.js"></script>



<script>

function send(message)
{
	var data = message
	if (!data)
	{
		data = document.getElementById("in").value
		document.getElementById("in").value = ""
	}

	window.wispeer.net.sendMessage(data)	
}


function init()
{
	var onMessage = function(message)
	{
		document.getElementById("speer").innerHTML += '<br /><br />' + message + '<br> <a href="javascript:send(\'' + message + '\')" >' + 'SCREAM!' + '</a>'
	}
	window.wispeer.net.setMessageCB(onMessage)
}

init()

</script>
